$white         : #ffffff;
$blueOne       : #91cff4; 
$blueTwo       : #90cef3; 
$blueThree     : #1f8bc5; 
$blueFour      : #0b3a5f; 
$blueFive      : #0a3a60; 
$blueSix       : #063a62;
$blueSeven     : rgba(37, 138, 193, 0.8);
$blueEight     : #eff6f9;
$blueNine      : rgb(37, 138, 193);
$grayOne       : #53585a;
$grayTwo       : #888888; 
$grayThree     : #898989; 
$grayFour      : #979797;
$grayFive      : #9d9d9d;
$overlayGray   : #53585a; 
$grayFive      : #eeeeee;
$graySix       : #fafafa;
$graySeven     : #e3e3e3;
$grayEight     : #e6eaeb;