/*base*/
* {
  box-sizing: border-box;
}
html, body{
  height: 100%;
  min-height: 100%;
  background: $nepal; 
  font-family: $lato;
}
div {
  padding-top: 20px;
}
label{
  display: inline-block;
}
input {
  width: 100%;
  padding: 5px;
  padding-left: 10px;
  margin-top: 5px;;
  height: 40px;
  border: 1px solid rgb(53, 98, 151);
  border-radius: 3px;
  display: block;
  font-size: 14px;
}
input[type="submit"]{
  width: auto;
  border: none; 
  padding: 10px; 
  background: rgb(60, 80, 120); 
  display: block; 
  color: white; 
  font-size: 20px;
  cursor: pointer;

  &:hover {
    background: $azure; 
  }
}
header, footer{
  padding: 20px 0px;
}
header{
  width: 100%; 
  background: $outer-space; 

  h1{
    font-size: 36px; 
    margin-bottom: 10px; 
    padding: 30px;
    text-align: center;
    color: white;
  }
}
.wrapper {
  padding: 100px 20px 40px;
  h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  p {
    text-align: center;
    font-size: 20px;
    line-height: 32px;
    a {
      color: $calypso;
    }
  }
}
footer{
  position: absolute; 
  bottom: 0px; 
  width: 100%; 

  p {
    text-align: center;
    padding: 20px;
  }
}
label.error{
  margin-top: 5px;
  color: $red-orange;
}
#form-validation-example {
  width: 30%; 
  margin: 100px auto 0px;
}
.validation {
  p {
    margin-top: 40px;
    color: #336B87;
    text-align: center;
    font-size: 24px;
    a {
      color: $calypso;
      text-decoration: none;
    }
  }
}
.fa {
  .fa-arrow-left {
    color: white;
  }
}
