/*base*/
* {
  box-sizing: border-box;
}
html, body{
  height: 100%;
  min-height: 100%;
  background: $nepal; 
  font-family: $lato;
}
div {
  padding-top: 20px;
}
label{
  display: inline-block;
}
input {
  width: 100%;
  padding: 5px;
  padding-left: 10px;
  margin-top: 5px;;
  height: 40px;
  border: 1px solid rgb(53, 98, 151);
  border-radius: 3px;
  display: block;
  font-size: 14px;
}
input[type="submit"]{
  width: auto;
  border: none; 
  padding: 10px; 
  background: rgb(60, 80, 120); 
  display: block; 
  color: white; 
  font-size: 20px;
  cursor: pointer;

  &:hover {
    background: $azure; 
  }
}
header, footer{
  padding: 8px 0px;
}
h1, .h1{
  font-size: 36px; 
  text-align: center;
}
h2, .h2{
  font-size: 30px;
  text-align: center;
}
p{
  font-size: 20px;
}
header{
  width: 100%; 
  background: $outer-space; 

  h1{
    padding: 30px;
    color: white;
  }
}
.wrapper {
  padding: 100px 20px 40px;
  h2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  p {
    text-align: center;
    line-height: 32px;
    a {
      color: $calypso;
    }
  }
}
footer{
  position: absolute; 
  bottom: 0px; 
  width: 100%; 

  p {
    text-align: center;
    padding: 20px;
  }
}