<div class="step-one steps">
  <h1>this is step 1</h1>
  <form action="" id="simple-form-1" style="width: 30%; margin: 0 auto;">
    <div class="name">
      <label for="name">Name</label>
      <input id="name" type="text" minlength="3" placeholder="min len 3 chars" required>
    </div>
    <div class="email">
      <label for="email">Email</label>
      <input id="email" type="email" placeholder="i.e. jdoe@site.com" required>
    </div>
    <!-- <div class="url">
      <label for="url">Url</label>
      <input id="url" type="url" placeholder="i.e. http://www.site.com" required>
    </div> -->
    <div class="submit">
      <input type="submit" value="Save" class="button-page1">
    </div>
  </form>
</div>
